# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs
*.log
logs/*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
.env.local

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage and testing
coverage/
.nyc_output/
test_output/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
.tmp/
temp/

# Cache
.cache/
.parcel-cache/
.npm/
.npmrc

# Dependency directories
jspm_packages/

# Lint
.eslintcache

# Static files
*.lock
*.orig
*.rej

# Git-specific files
.git/